* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: black;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

input {
  display: block;
}

.transactions-table {
  width: 100%;
}

.debit {
  color: #ff0000;
}

.credit {
  color: #008000;
}
