// Variables
$color-light-gray: #eee;
$color-red: #ff0000;

$color-text-dark: #000;
$color-text-medium: #555;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;

  &:link {
    color: $color-text-dark;
  }

  &:visited {
    color: $color-text-medium;
  }

  &:focus {
    background-color: $color-light-gray;
  }

  &:hover {
    background-color: $color-light-gray;
  }

  &:active {
    color: $color-red;
  }
}

ul {
  list-style: none;
}

body {
  color: black;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  column-gap: 5vw;
}

.form,
.list {
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: rgb(200, 200, 200);
  overflow: auto;
}

.list {
  background-color: rgb(220, 220, 220);
}

.edit-delete-forms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
}

input {
  display: block;
}

.transactions-table {
  width: 100%;
}

.debit {
  color: #ff0000;
}

.credit {
  color: #008000;
}
